    <!--    Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->


        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/">
                    <b class="logo-abbr" style="font-size: large">🎀</b>
                    <span class="logo-compact"><img src="/images/logo-compact.png" alt=""></span>
                    <span class="brand-title" style="text-align: center;">
                        <img src="/images/teamLogo.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input id="search" type="search" class="form-control" placeholder="검색" aria-label="검색" onkeypress="handleKeyPress(event)">
                        <div class="drop-down   d-md-none">
							<form action="#">
								<input type="text" class="form-control" placeholder="Search">
							</form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="/images/user.png" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href='/me'><i class="icon-user"></i> <span>마이 페이지</span></a>
                                        </li>
                                        <!-- <li>
                                            <a href="email-inbox.html"><i class="icon-envelope-open"></i> <span>Inbox</span> <div class="badge gradient-3 badge-pill badge-primary">3</div></a>
                                        </li> -->

                                        <hr class="my-2">
                                        <li>
                                            <a href="/login"><i class="icon-lock"></i> <span>로그인</span></a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);" onclick="logout()"><i class="icon-key"></i> <span>로그아웃</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <li class="nav-label">냐옹상회 메뉴</li>
                    <li>
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">상품</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/">상품목록</a></li>
                            <li><a href="/products/create">판매하기</a></li>
                        </ul>
                    </li>
                    <li class="mega-menu mega-menu-sm">
                        <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                            <i class="icon-globe-alt menu-icon"></i><span class="nav-text">구매/판매</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/order/mydeal">구매 진행</a></li>
                            <li><a href="/order/dealcheck">판매 진행</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="has-arrow" href="javascript:void();" aria-expanded="false">
                            <i class="icon-notebook menu-icon"></i><span class="nav-text">마이페이지</span>
                        </a>
                        <ul aria-expanded="false">
                            <li><a href="/order/me/buy/list">구매내역</a></li>
                            <li><a href="/order/me/sell/list">판매내역</a></li>
                            <li><a href="/me/report">신고하기</a></li>
                            <li><a href="/me/notices">공지목록</a></li>
                            <li><a href="/me/likes">관심목록</a></li>

                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
