<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>내가 파는 상품 목록보기</title>
    </head>
    <body>
        <h1>내가 파는 상품 목록보기</h1>
    <div>
        구매자 정보<br>
        name:<%= data.nickname %> <br>
        email: <%= data.email %> <br>
        ---------------------------------------------------------<br>
    </div>
    </body>
    <script>
    </script>
</html>