<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>order레이아웃</title>
    <!--    BootStrap Library-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Jua&family=Noto+Serif+KR:wght@200&display=Gowun+Dodum&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <!--    Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!--    Js -->
    <script>
      <%- include('js/order-layout.js')%>
    </script>
    <!--    <link rel="stylesheet" href="js/order-layout.js">-->
  </head>

  <body>
    <!--상단 메뉴바-->
    <div
      class="container-fluid"
      style="height: 40px; position: fixed; top: 0; background: #fff"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-md-2"
            onclick="location.href='product'"
            style="background: red; height: 40px"
          >
            test상품목록
          </div>
          <div class="col-md-8" style="background: yellow; height: 40px">
            메인페이지안녕하세영
          </div>
          <div class="col-md-2" style="background: purple; height: 40px">
            로그아웃
          </div>
        </div>
      </div>
    </div>
    <!--상단 내비게이션-->
    <div
      class="container-fluid"
      style="
        background: #eee;
        margin-top: 40px;
        margin-bottom: 40px;
        min-height: 1000px;
      "
    >
      <div class="container" style="background: #fff; padding: 0">
        <div id="headerMenu" style="padding: 0">
          <div class="row">
            <div
              class="col-md-3"
              style="height: 100px; text-align: center; line-height: 100px"
            >
              <a onclick="window.location.reload()">구매진행</a>
            </div>
            <div
              class="col-md-3"
              style="height: 100px; text-align: center; line-height: 100px"
            >
              <a onclick="mySellProduct()">판매진행</a>
            </div>
            <div
              class="col-md-3"
              style="height: 100px; text-align: center; line-height: 100px"
            >
              <a onclick="myBuyList()">구매내역</a>
            </div>
            <div
              class="col-md-3"
              style="height: 100px; text-align: center; line-height: 100px"
            >
              <a onclick="mySellList()">판매내역</a>
            </div>
          </div>
        </div>
      </div>
      <!-- 본문-->
      <div
        class="container"
        id="bb"
        style="background: #fff; margin-top: 20px; padding: 0"
      ></div>

      <!--하단 메뉴바-->
      <div
        class="container-fluid"
        style="
          height: 100px;
          position: fixed;
          bottom: 0;
          background: #fff;
          padding: 0;
        "
      >
        <div class="container" style="height: 100px; padding: 0">
          <div
            class="row"
            style="width: 100%; background-color: red; margin: 0"
          >
            <div
              class="col"
              style="border: 1px solid black; height: 100px; width: 20%"
            >
              검색
            </div>
            <div
              class="col"
              style="border: 1px solid black; height: 100px; width: 20%"
            >
              상품등록
            </div>
            <div
              id="deal"
              class="col"
              style="border: 1px solid black; height: 100px; width: 20%"
            >
              <a onclick="deal()">딜 하러 가기</a>
            </div>
            <div
              class="col"
              style="border: 1px solid black; height: 100px; width: 20%"
            >
              마이페이지
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
