<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="/css/style.css" rel="stylesheet">
    <!--    Axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
      function lengthLimit6(e){
				if(e.value.length > 6){
					e.value = e.value.slice(0, 6)
				}
			}
      function emailModifiedChecker(obj) {

	      obj.addEventListener("input", cancelVerify)
	      function cancelVerify()  {
		      isverifyed = false;
            alert('이메일이 변경되었습니다. 재 인증을 진행해주세요.')
	      }
      }

    </script>
    <script><%- include('js/signup.js') %></script>
    <script><%- include('js/autohypen.js') %></script>

</head>

<body class="h-100">

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-xl-6">
                <div class="form-input-content">
                    <div class="card login-form mb-0">
                        <div class="card-body pt-5">

                            <a class="text-center" href="index.html"><h4><b style="color: #0597F2">냐옹 상회</b></h4></a>

                            <form onsubmit="return false;">
                                <div class="form-group">
                                    <label for="email" class="form-label mt-4">이메일 아이디</label>
                                    <input
                                            type="email"
                                            class="form-control"
                                            aria-describedby="emailHelp"
                                            id="email"
                                            oninput="emailModifiedChecker(this)"
                                            placeholder="이메일 입력"
                                    />
                                    <button type="submit" class="btn mb-1 btn-skype"  id="emailButton"
                                            onclick="sendMail(); startTimer();">인증메일 전송<span class="btn-icon-right"><i class="fa fa-envelope"></i></span>
                                    </button>
                                    <br>
                                    <label for="emailNumber" class="form-label mt-4">이메일 인증번호 입력</label>
                                    <input
                                            type="number" minlength="6" maxlength="6"
                                            class="form-control"
                                            aria-describedby="emailHelp"
                                            id="verifyNumber"
                                            oninput="lengthLimit6(this)"
                                            placeholder="인증번호 6자리">
                                    <div id="mailTimer"></div>
                                    <button
                                            type="submit"
                                            class="btn mb-1 btn-skype"
                                            id="emailNumberButton"
                                            onclick="emailNumberVerify()"
                                    >
                                        인증번호 확인　<i class="fa fa-envelope-open" aria-hidden="true"></i>
                                    </button>

                                </div>
                                <div class="form-group">
                                    <label class="form-label mt-4" for="password">비밀번호</label>
                                    <label class="form-label mt-4" for="password"
                                    >한개의 영문, 한개의 숫자, 한개의 특수문자를 포함한 8자
                                        이상</label
                                    >
                                    <input
                                            type="password"
                                            class="form-control"
                                            id="password"
                                            placeholder="ex) dnxogus1!"
                                    />
                                    <div class="valid-feedback"></div>
                                </div>

                                <div class="form-group">
                                    <label class="form-label mt-4" for="repeatPassword"
                                    >비밀번호 재확인</label
                                    >
                                    <input type="password" class="form-control" id="repeatPassword" />
                                    <!--                    <div class="invalid-feedback">비밀번호가 일치하지 않습니다</div>-->
                                </div>
                                <div class="form-group">
                                    <label for="nickname" class="form-label mt-4">이름</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="nickname"
                                            aria-describedby="emailHelp"
                                    />
                                </div>
                                <div class="form-group">
                                    <label for="tel" class="form-label mt-4">휴대폰 번호</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            id="phoneNumber"
                                            oninput="autoHypen(this)"
                                            maxlength="13"
                                            aria-describedby="phoneNumber"
                                            placeholder="ex) 01012345678"
                                    />
                                </div>
                                <div class="form-group">
                                    <label class="form-label mt-4">주소</label>
                                    <div class="form-group">
                <span class="ps_box">
                  <input
                          type="text"
                          class="form-control"
                          id="postcode"
                          placeholder="우편번호"
                  />
                    <button type="button" class="btn mb-1 btn-skype" onclick="execDaumPostcode()">우편번호 검색</button>
                    <br />
                  <input
                          type="text"
                          class="form-control"
                          id="address"
                          placeholder="주소"
                  /><br />
                  <input
                          type="text"
                          class="form-control"
                          id="detailAddress"
                          placeholder="상세주소"
                  />
                  <input
                          type="text"
                          class="form-control"
                          id="extraAddress"
                          placeholder="참고항목"
                  />
                                                    <div class="d-grid gap-2">
                                    <button
                                            class="btn mb-1 btn-skype"
                                            type="button"
                                            onclick="signUp()"
                                    >
                                        가입하기<span class="btn-icon-right"><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
                                    </button>
                                </div>
                    <!-- iOS에서는 position:fixed 버그가 있음, 적용하는 사이트에 맞게 position:absolute 등을 이용하여 top,left값 조정 필요 -->
                  <div
                          id="layer"
                          style="

                      display: none;
                      position: fixed;
                      overflow: hidden;
                      z-index: 1;
                      -webkit-overflow-scrolling: touch;
                    "
                  >
                    <img
                            src="//t1.daumcdn.net/postcode/resource/images/close.png"
                            id="btnCloseLayer"
                            style="
                        cursor: pointer;
                        position: absolute;
                        right: -3px;
                        top: -3px;
                        z-index: 1;
                      "
                            onclick="closeDaumPostcode()"
                            alt="닫기 버튼"
                    />
                  </div>
                </span>
                                    </div>
                                </div>


                            </form>
                        </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<script><%- include('js/address-api.js')%></script>
<!--**********************************
    Scripts
***********************************-->
<script src="/plugins/common/common.min.js"></script>
<script src="/js/custom.min.js"></script>
<script src="/js/settings.js"></script>
<script src="/js/gleek.js"></script>
<script src="/js/styleSwitcher.js"></script>


</body>
</html>





